@model Gharbhetibaa.Models.ContactUs

<div class="modal-header">
    <h5 class="modal-title text-white" id="exampleModalLongTitle">@Model.Name</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" class="text-white">&times;</span>
    </button>
</div>
<div class="modal-body bg-white">
    <section id="contactdetails">
        <div class="container">
            <div class="row mt-3">
                <div class="col-6 col-md-3 offset-md-1">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "" })
                </div>
                <div class="col-6 col-md-7">
                    @Model.Name
                </div>
            </div>

            <div class="row">
                <div class="col-6 col-md-3 offset-md-1">
                    @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "" })
                </div>
                <div class="col-6 col-md-7">
                    @Model.Email
                </div>
            </div>

            <div class="row">
                <div class="col-6 col-md-3 offset-md-1">
                    @Html.LabelFor(model => model.Timestamp, htmlAttributes: new { @class = "" })
                </div>
                <div class="col-6 col-md-7">
                    @Model.Timestamp.ToString("MM/dd/yyyy")
                </div>
            </div>

            <div class="row">
                <div class="col-6 col-md-3 offset-md-1">
                    @Html.LabelFor(model => model.Subject, htmlAttributes: new { @class = "" })
                </div>
                <div class="col-6 col-md-7">
                    @Model.Subject
                </div>
            </div>

            <div class="row">
                <div class="col-6 col-md-3 offset-md-1">
                    @Html.LabelFor(model => model.Message, htmlAttributes: new { @class = "" })
                </div>
                <div class="col-6 col-md-7 text-justify">
                    @Model.Message
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal-footer back-light">
    <button type="button" class="btn btn-secondary rounded-0" data-dismiss="modal">Close</button>
</div>