@model Gharbhetibaa.Models.PropertyManagement.Expense

<div class="modal-header">
    <h5 class="modal-title text-white" id="exampleModalLongTitle">Expense Details</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true" class="text-white">&times;</span>
    </button>
</div>
<div class="modal-body bg-white">
    <section id="expensedetails">
        <div class="container">

            <div class="row">
                <div class="col-6 col-md-3 offset-md-1">
                    @Html.LabelFor(model => model.ExpenseTitle, htmlAttributes: new { @class = "" })
                </div>
                <div class="col-6 col-md-7">
                    @Model.ExpenseTitle
                </div>
            </div>

            <div class="row">
                <div class="col-6 col-md-3 offset-md-1">
                    @Html.LabelFor(model => model.TotalAmount, htmlAttributes: new { @class = "" })
                </div>
                <div class="col-6 col-md-7">
                    @Model.TotalAmount
                </div>
            </div>

            <div class="row">
                <div class="col-6 col-md-3 offset-md-1">
                    @Html.LabelFor(model => model.PaymentDate, htmlAttributes: new { @class = "" })
                </div>
                <div class="col-6 col-md-7">
                    @Model.PaymentDate
                </div>
            </div>

            <div class="row">
                <div class="col-6 col-md-3 offset-md-1">
                    @Html.LabelFor(model => model.Notes, htmlAttributes: new { @class = "" })
                </div>
                <div class="col-6 col-md-7 text-justify">
                    @Model.Notes
                </div>
            </div>
        </div>
    </section>
</div>
<div class="modal-footer back-light">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>