@model Gharbhetibaa.ViewModels.SearchingForVM

<div id="searchingListing">
    <div class="card mb-3" style="border:1px solid black;">

        <div class="card-header back-primary">
            <h5 class="card-title text-center txt-secondary">
                Search Wish
            </h5>
        </div>
        <div class="card-body">
            @if (Model.SearchingFors.ToList().Count() == 0)
            {
                <div class="row text-center">
                    <div class="col-12">
                        <img src="~/images/Shared/searching.png" class="w-25" />
                        <h4 class="mt-3">
                            Couldn't find what you're looking for? Create a Search Wish Ad.
                        </h4>
                        <h5></h5>
                    </div>
                </div>

            }
            else
            {
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>Title</th>
                            <th>Location</th>
                            <th>Posted On</th>
                            <th>Expires On</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                        @foreach (var i in Model.SearchingFors)
                        {
                            <tr>
                                <td>@Html.Raw((i.Title.Length > 15 ? i.Title.Substring(0, 15) : i.Title))</td>
                                <td>@Html.Raw((i.Location.Length > 15 ? i.Location.Substring(0, 15) : i.Location))</td>
                                <td>@i.PostedOn.ToString("MM/dd/yyyy")</td>
                                <td>
                                    @i.AdExpiryDate.ToString("MM/dd/yyyy")
                                </td>

                                <td>
                                    @if (i.Status == true)
                                    {
                                        <div class="btn btn-sm btn-success">Active</div>
                                    }
                                    else
                                    {
                                        <div class="btn btn-sm btn-danger">Expired</div>
                                    }
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-outline-info btn-sm btnBookSearching" title="View Bookings" data-id="@i.SearchingForID" data-toggle="modal" data-target="#formModal">VIEW BOOKINGS</button>
                                    <div class="form-inline">
                                        @using (Html.BeginForm("SearchingForDetails", "SearchingFor", FormMethod.Get))
                                        {
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="SearchingForID" value="@i.SearchingForID" />
                                            <button type="submit" class="btn" title="View Ad Details"><i class="fas fa-info-circle"></i></button>
                                        }


                                        <button type="button" class="btn btnEditSearching" title="Edit Ad Details" data-id="@i.SearchingForID" data-toggle="modal" data-target="#modalCreate"><i class="fas fa-edit"></i></button>
                                        <button class="btn btnDeleteSearching" title="Delete Ad" data-id="@i.SearchingForID"><i class="fas fa-trash-alt"></i></button>
                                    </div>
                                </td>
                            </tr>
                        }
                    </table>
                </div>
                @Html.Partial("_Pagination")
            }
        </div>
    </div>

    <div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" id="bookmarkContent">

            </div>
        </div>
    </div>

    <script>
        $(".pager-site").click(function (){
        $.ajax({
            url: "@Url.Action("MySearchingFors", "MyActivity")",
            type: "get",
            data: {
                pageNo: $(this).attr("data-id")
            }
        }).done(function (response) {
            $("#searchingListing").replaceWith(response);
            });
    });

        $(".btnBookSearching").click(function (){
        $.ajax({
            url: "@Url.Action("SearchingForUser", "Booking")",
            method: "get",
            data: {
                SearchingForID: $(this).attr("data-id")
            }
        }).done(function (response) {
            $("#bookmarkContent").html(response);

            });
    });

    $('.btnDeleteSearching').click(function () {
        swal({
            title: "Are you sure?",
            text: "Once deleted, you will not be able to recover!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    $.ajax({
                        url: "@Url.Action("DeleteSearchingFor", "SearchingFor")",
                        method: "post",
                        data: {
                            SearchingForID: $(this).data('id')
                        }
                    }).done(function (response) {
                        swal("Success", "Your Ad has been deleted!", {
                            icon: "success",
                        })
                            .then((value) => {
                                $("#searchingListing").replaceWith(response);
                            });
                    });

                }
            });
        });

        $(".btnEditSearching").click(function (){
        $.ajax({
            url: "@Url.Action("EditSearchingFor", "SearchingFor")",
            type: "get",
            data: {
                SearchingForID: $(this).attr("data-id")
            }
        }).done(function (response) {
            $("#contentCreate").html(response);

            });
    });

        function ReloadSearchingListing() {
            $.ajax({
                url: "@Url.Action("MySearchingFors", "MyActivity")",
                method: "get"
            }).done(function (response) {
                $("#searchingListing").replaceWith(response);

            });
        }
    </script>
</div>